<div class="grid__col grid__col--3-of-5 grid__col--centered goals-index">
	<h1 class="header-red">Today's goals</h1>
<ul>
<% for goal in @goals_incomplete %>
	<li><%= goal.title %><%= link_to image_tag('delete.png'), goal_path(goal), :class => 'delete', :method => 'delete', data: { confirm: "Are you sure?" } %></li>
<% end %>
</ul>
<%= form_for @goal do |f| %>
<fieldset>
	<%= f.text_field :title, :placeholder => "Add your first goal, hit enter", :autofocus => true %>
</fieldset>
<% unless @goals_incomplete.empty? %><%= link_to "Save all of today's goals", message_goals_path, :class =>"finished" if @goals_incomplete.last.created_at > 2.seconds.ago %><% end %>
<% end %><!-- form -->
</div>