<div class="goals-index">
	<h1 class="header-green">Yesterday's completed goals</h1>
<% unless @goals_yesterday_complete.empty? %>
<ul>
<% for goal in @goals_yesterday_complete %>
	<li class="completed"><%= goal.title %></li>
<% end %>
</ul>
<% end %>

<% if @goals_yesterday_complete.empty? %>
	<p class="empty">You haven't marked any as complete yet!</p>
<% end %>

<h1 class="header-red">Great, now how about today's goals?</h1>
<% unless @goals_today.empty? %>
<ul>
<% for goal in @goals_today %>
	<li class="<%= 'rollover' if goal.created_at.to_date <= 1.day.ago %>"><%= goal.title %>
	<% if goal.created_at.to_date == Date.today.to_date-1 %>
		<br /><span class="rollover-goal">From Yesterday</a>
	<% end %>
	<% if goal.created_at.to_date <= 2.days.ago %>
		<br /><span class="rollover-goal">From A Few Days Ago</a>
	<% end %><%= link_to image_tag('delete.png'), goal_path(goal), :class => 'delete', :method => 'delete', data: { confirm: "Are you sure?" } %></li>
<% end %>
</ul>
<% end %>

<%= render 'form' %>
</div>