<div class="grid__col grid__col--3-of-5 grid__col--centered">
<h1 class="today">How did you do yesterday?</h1>

<%= form_tag complete_goals_path, :method => :put do %>

<ul>
<% for goal in @goals_incomplete %>
	<li><%= check_box_tag "goal_ids[]", goal.id  %>
	<label for="goal_ids_">Done</label><%= goal.title %><%= link_to image_tag('delete.png'), goal_path(goal), :class => 'delete', :method => 'delete', :confirm => "Are you sure?" %></li>
<% end %>
</ul>

<%= submit_tag "Save", class: "form_submit" %>

<% end %>
</div>