<!DOCTYPE html>
<html>
<head>
  <title>Toddle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="//use.typekit.net/ouf4jci.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="container">
	<div class="grid">
		<div class="user-nav grid__col grid__col--12-of-12">
			<% flash.each do |name, msg| %>
	      <%= content_tag :div, msg, id: "flash_#{name}" %>
	    <% end %>
			<% if current_user %>
				<%= link_to "Sign out", signout_path, :class => "signout" %>
				<% else %>
		  <%= link_to "Sign in with Twitter", "/auth/twitter", :class => "button" %>
		<% end %>
		</div>
				<% unless @goals_incomplete.empty? %><div class="check-off grid__col grid__col--12-of-12">Hey <%= current_user.name %>, are you ready to check off some of yesterday's goals? <%= link_to tomorrow_goals_path do %>
					<%= "Yes" %>
				<% end %>
				<%= link_to "No", root_path %></div>
				<% end %>
<%= yield %>
	</div>
</div>

<div class="working-out-logo">
</div>
<div class="footer-container">
	<div class="container">
		<div class="grid">
			<footer class="grid__col grid__col--12-of-12">
				<p>Join <a href="http://twitter.com/iamashley">Ashley Baxter</a> and <a href="http://twitter.com/paddydonnelly">Paddy Donnelly</a> on a journey to figure out how to create a business doing what you love.</p>
	<span class="button"><a href="http://workingoutpodcast.com">Listen to the podcast</a></span>
			</footer>
		</div>
	</div>
</div>
</body>
</html>
