<!DOCTYPE html>
<html>
<head>
  <title>Toddle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="//use.typekit.net/ouf4jci.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="container">
	<div class="grid">
		<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>
		<div id="user_nav">
			<% if current_user %>
				Signed in as <%= current_user.name %>!
				<%= link_to "Sign out", signout_path %>
				<% else %>
		  <%= link_to "Sign in with Twitter", "/auth/twitter"%>
		<% end %>
		</div>
<%= yield %>
	</div>
</div>

<div class="working-out-logo">
</div>
<div class="footer-container">
	<div class="container">
		<div class="grid">
			<footer class="grid__col grid__col--12-of-12">
				<p>Join <a href="http://twitter.com/iamashley">Ashley Baxter</a> and <a href="http://twitter.com/paddydonnelly">Paddy Donnelly</a> on a journey to figure out how to create a business doing what you love.</p>
	<span class="button"><a href="http://workingoutpodcast.com">Listen to the podcast</a></span>
			</footer>
		</div>
	</div>
</div>
</body>
</html>
