<!DOCTYPE html>
<html>
<head>
  <title>Toddle</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="//use.typekit.net/ouf4jci.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
<div class="footer-container">
	<div class="container">
		<div class="grid grid__col grid__col--12-of-12 header">
				<%= link_to image_tag_with_at2x("toddle.png"), root_path %>
				
				<ul class="header-nav">
					<% if current_user %>
					<li><%= link_to "Today", root_path %></li>
					<li><%= link_to "Sign out", signout_path %></li>
					<% end %>
				</ul>
				
		</div>
	</div>
</div>

<div class="container">
	<div class="grid">
		<% unless current_user %>
		<div class="grid__col grid__col--3-of-5 grid__col--centered welcome">
		<h1 class="header-red">Welcome to Toddle</h1>
		<p>Take baby steps towards your goals</p>
		<%= link_to "Sign in with Twitter", "/auth/twitter", :class => "button" %>
		</div>
			<% end %>
<%= yield %>
	</div>
</div>

<div class="working-out-logo">
	<%= link_to image_tag_with_at2x("logo.png"), root_path %>
</div>
<div class="footer-container">
	<div class="container">
		<div class="grid">
			<footer class="grid__col grid__col--12-of-12">
				<p>Join <a href="http://twitter.com/iamashley">Ashley Baxter</a> and <a href="http://twitter.com/paddydonnelly">Paddy Donnelly</a> on a journey to figure out how to create a business doing what you love.</p>
	<a href="http://workingoutpodcast.com" class="button">Listen to the podcast</a>
			</footer>
		</div>
	</div>
</div>
</body>
</html>
